extends layout

block content
  h1= title
  form.form-horizontal#formAddUser(role='form', style='width: 50%;', name="adduser", method="post", action="/adduser")
    .form-group
      label.col-sm-2.control-label(for='first name') First Name
      .col-sm-10
        input#first_name.form-control(type='text', name='first_name', placeholder='First Name', value='')
    .form-group
      label.col-sm-2.control-label(for='last name') Last Name
      .col-sm-10
        input#last_name.form-control(type='text', name='last_name', placeholder='Last Name', value='')
    .form-group
      label.col-sm-2.control-label(for='age') Age
      .col-sm-10
        input#age.form-control(type='text', name='age', placeholder='Age', value='')
    .col-sm-10.col-sm-offset-2
      input#btnSubmit.btn.btn-primary(name='submit', type='submit', value='Sign Up')