<div class="users-list" ng-show="pageState=='users'">
  <table class="table table-responsive">
    <tbody>
      <tr ng-repeat="user in users track by $index">
        <td>
          <a href="javascript:;" ng-click="editUser(user._id)">{{user.first_name + " " + user.last_name}}</a>
        </td>
        <td>
          <a href="javascript:;" ng-click="editUser(user._id)">edit</a>
        </td>
        <td>
          <a href="javascript:;" ng-click="deleteUser(user._id)">delete</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="users-new" ng-show="pageState=='users.new'">
  <form>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="first name">First Name</label>
      <div class="col-sm-10">
        <input type="text" id="first_name" class="form-control" name="first_name" placeholder="First Name" value="" ng-model="user.first_name"/>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="last name">Last Name</label>
      <div class="col-sm-10">
        <input type="text" id="last_name" class="form-control" name="last_name" placeholder="Last Name" value="" ng-model="user.last_name"/>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="age">Age</label>
      <div class="col-sm-10">
        <input type="text" id="age" class="form-control" name="age" placeholder="Age" value="" ng-model="user.age"/>
      </div>
    </div>
    <div class="col-sm-10 col-sm-offset-2">
      <button type="submit" class="btn btn-primary" ng-click="addUser()">Add User</button>
    </div>
  </form>
</div>
<div class="users-edit" ng-show="pageState=='users.edit'">
  <form>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="first name">First Name</label>
      <div class="col-sm-10">
        <input type="text" id="first_name" class="form-control" name="first_name" placeholder="First Name" ng-model="user.first_name"/>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="last name">Last Name</label>
      <div class="col-sm-10">
        <input type="text" id="last_name" class="form-control" name="last_name" placeholder="Last Name" ng-model="user.last_name"/>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="age">Age</label>
      <div class="col-sm-10">
        <input type="text" id="age" class="form-control" name="age" placeholder="Age" ng-model="user.age"/>
      </div>
    </div>
    <div class="col-sm-10 col-sm-offset-2">
      <button type="submit" class="btn btn-primary" ng-click="updateUser(user._id)">Update</button>
    </div>
  </form>
</div>